<app-menu></app-menu>
<div class="row">
<div class="col-md-12" style="padding: 50px; background-color:#343a40;" >
<h1 style="text-align: center; padding-top: 50px; color: white;">Prevenir Centro Óptico Pasto</h1>
</div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10" style="padding: 50px;">
    <div class="gallery" id="gallery">

      <!-- Grid column -->
      <div class="mb-3 pics animation all 1">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/1OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>
      <div class="mb-3 pics animation all ">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/2OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>
      <div class="mb-3 pics animation all ">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/3OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>
           <div class="mb-3 pics animation all ">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/5OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>
      <div class="mb-3 pics animation all ">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/6OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>
      <div class="mb-3 pics animation all ">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/7OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>
      <div class="mb-3 pics animation all ">
        <img class="img-fluid " src="../../../assets/images/optica/OpticaCentro/8OpticaPasto.jpeg" alt="Prevenir Express Previsión Excequial">
      </div>


    </div>
    <!-- Grid row -->
  </div>
</div>
<app-footer></app-footer>
