<app-menu></app-menu>

<!-- Seccion banner -->
<section id="banner" class="banner"
  style="width: 100%; padding-top:2.5%; background: url('assets/images/MujerOptica.jpg') no-repeat fixed 30%">
  <div class="bg-color">
    <div class="container">
      <div class="row" style="display: block;">
        <div class="banner-info">
          <div class="banner-logo text-center">
            <img src="assets/images/logoCentroOptico.png" class="img-responsive">
          </div>
          <div class="banner-text text-center">
            <h1 class="white">TUS OJOS EN BUENAS MANOS!!</h1>
            <p style="text-align: center !important;">¡ En Prevenir Express centro óptico te ofrecemos el examén visual GRATIS !. Agenda tu cita<br>
              <br>
              LLEVA TUS GAFAS Y PÁGALAS POR CUOTAS
            </p>
            <a href="#contact" class="btn btn-appoint">Solicitar cita.</a>
          </div>
          <div class="overlay-detail text-center">
            <a href="#service"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--service-->
<section id="service" class="section-padding">
  <div class="container" style="padding-top: 5%;">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">Nuestros Servicios</h2>
        <hr class="botm-line">
        <p>Buscamos ofrecerle la mejor experiencia... <br> con nuestro equipo humano y con la mejor tecnología para su servicio </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div>
            <img width="100%" src="assets/images/optica/servicios/examen-visual.jpg">
          </div>
          <div class="icon-info">
            <br>
            <h4>EXAMEN DE AGUDEZA VISUAL</h4>
            <p style="text-align: justify;">Es la prueba que utilizamos para medir la capacidad del paciente de percibir
              y diferenciar dos objetos separados por un ángulo determinado así poder evaluar el estado de la salud
              visual y de la visión de un paciente</p>
          </div>
        </div>
        <div class="service-info">
          <div>
            <img width="100%" src="assets/images/optica/servicios/monturas.jpg">
          </div>
          <div class="icon-info">
            <br>
            <h4>LENTES Y MONTURAS</h4>
            <p style="text-align: justify;">Son una combinación de dos productos Bio médicos: los lentes y la montura que el profesional adapta a un paciente determinado, lo hace basándose en la corrección precisa de cada ojo, su distancia interpupilar y la montura escogida.
              <br>Se usan principalmente para compensar defectos de la vista, tales como la miopía, el astigmatismo o la hipermetropía, aunque también existen gafas especiales para proteger los ojos en actividades en las que exista un riesgo laboral, así como lo exige <b>El Sistema de Gestión de la Seguridad y Salud en el Trabajo. SG-SST</b>
               </p>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div>
            <img width="100%" src="assets/images/optica/servicios/certificadoVisual.jpg">
          </div>
          <div class="icon-info">
            <br>
            <h4>CERTIFICADO VISUAL</h4>
            <p style="text-align: justify;">Este certificado es de una gran importancia porque determina si el
              desarrollo neurosensorial y visual del paciente se está produciendo de la manera correcta. <br> Este documento
              es exigido en instituciones educativas asi como también en entidades públicas y privadas.</p>
          </div>
        </div>
        <div class="service-info">
          <div>
            <img width="100%" src="assets/images/optica/servicios/problemaOjos.jpg">
          </div>
          <div class="icon-info">
            <br>
            <h4>PYP DE ENFERMEDADES VISUALES </h4>
            <ul class="list-group">
              <li class="list-group-item">Visítenos al menos una vez al año para un examen de optometría completo </li>
              <li class="list-group-item">Controle su nivel de azúcar en su sangre.</li>
              <li class="list-group-item">Mantenga niveles saludables de presión arterial y colesterol. </li>
              <li class="list-group-item">Deje el cigarrillo. </li>
              <li class="list-group-item">Haga ejercicio.</li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!--/ service-->

<!--cta-->
<section id="cta-1" class="section-padding">
  <div class="container">
    <h2 style="padding: 5% 0px 5% 0px;" class="ser-title">Nuestras Sucursales</h2>
    <div class="row">
      <div class="schedule-tab">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="medi-info">
                <h3>Sede Pasto</h3>
                <p>Carrera 26 # 19 - 79 Centro</p>
                <p>Celular : +57 320 517 5056 </p>
                <img src="../../../assets/images/optica/OpticaCentro/1OpticaPasto.jpeg" style="width: 100%;">
                <a class="medi-info-btn" href="optica">Conoce más</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="medi-info">
                <h3>Sede Ipiales</h3>
                <p>Cra. 6ta. No. 11 - 60 C.C. Zafiro Local 214 </p>
                <p>Celular : +57 314 716 8870 </p>
                <img src="/assets/images/optica/OpticaIpiales2.jpg" style="width: 100%;">
                <a href="#" class="medi-info-btn">Conoce más</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-boxy-color"></div>
              <div class="time-info">
                <h3>Horarios de Atención</h3>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td style="color:white"><b>Lunes - Viernes</b></td>
                      <td style="color:white"><b>09:00 am - 01:00 pm <br>03:00 pm - 07:00 pm</b></td>
                    </tr>
                    <tr>
                      <td style="color:white"><b>Sábados</b></td>
                      <td style="color:white"><b>09:00 am - 01:00 pm <br>03:00 pm - 06:00 pm</b></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!--cta-->

<!--about-->
<section id="about" class="section-padding">
  <div class="container" style="padding-top: 5%;">
    <div class="row">
      <div class="col-md-3">
        <div class="section-title">
          <h2 class="head-title lg-line">Contamos con los mejores equipos <br></h2>
          <hr class="botm-line">
          <p class="sec-para">Ofrecemos resultados de calidad, precisos y sin errores. </p>
          <a href="" style="color: #0cb8b6; padding-top:10px;">Conocer mas...</a>
        </div>
      </div>
      <div class="col-md-9">
        <div style="visibility: visible;">
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Nuestros Equipos</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="/assets/images/optica/OpticaCentro/5OpticaPasto.jpeg" style="width:100%">
                </div>
                <div class="col-md-6">
                  <img src="/assets/images/optica/OpticaCentro/6OpticaPasto.jpeg" style="width:100%">
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/images/optica/OpticaCentro/8OpticaPasto.jpeg" style="width:100%">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--/ about-->
<section id="productos" class="section-padding">
  <div class="container" style="padding-top: 5%;">

    <h2 class="ser-title">Últimas Monturas</h2>

    <hr class="mt-2 mb-5">

    <div class="row">
      <div class="col-md-3">
        <a href="#" class="d-block  h-100">
          <video width="100%" height="240" controls style="padding: 1%;">
            <source class="img-fluid img-thumbnail" src="/assets/images/optica/videos/Monuras1.mp4" alt="">
          </video>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="d-block h-100">
          <video width="100%" height="240" controls style="padding: 1%;">
            <source class="img-fluid img-thumbnail" src="/assets/images/optica/videos/Monuras2.mp4" alt="">
          </video>
        </a>
      </div>


      <div class="col-md-3">
        <a href="#" class="d-block  h-100">
          <video width="100%" height="240" controls style="padding: 1%;">
            <source class="img-fluid img-thumbnail" src="/assets/images/optica/videos/Monuras3.mp4" alt="">
          </video>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="d-block h-100">
          <video width="100%" height="240" controls style="padding: 1%;">
            <source class="img-fluid img-thumbnail" src="/assets/images/optica/videos/Monuras4.mp4" alt="">
          </video>
        </a>
      </div>
    </div>




  </div>
</section>
<!--doctor team-->
<section id="doctor-team" class="section-padding">
  <div class="container" style="padding-top: 5%;">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Conoce a nuestros especialistas!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-6 ">
        <div class="img-thumbnail">

          <div class="caption">
            <div class="row">
              <div class="col-md-6"> <img src="/assets/images/icon.png" style="padding-bottom:10px" width="100%" alt="..." class="team-img">

                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4"><a href="#"><i class="fa fa-facebook"></i></a></div>
                      <div class="col-md-4"><a href="#"><i class="fa fa-twitter"></i></a></div>
                      <div class="col-md-4"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>

                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
              <div class="col-md-6">
                <h3>Jose Luis Velandía Cabra</h3>
                <h5>Optometra</h5>

            <p>Estudios Profesionales: Fundación Universitaria Área Andina</p>
            <p>Como profesional de la optometría he adquirido destrezas que me han permitido desarrollar habilidades especiales para poder enfrentar grandes retos con mis pacientes tanto  infantes como adultos</p>

          </div>

            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-thumbnail">
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/images/icon.png" width="100%" alt="..." class="team-img">
          </div>
          <div class="col-md-6">

          <div class="caption">
            <h3>Liliana Pineada Santamaria</h3>
            <h5>Asesora</h5>
            <p>En el desarrollo de mi carrera como asesora, he tenido experiencias que me han exigido al máximo como profesional, fortaleciendo mi conocimiento y mejorando día a día mi labor, ofreciendo así lo mejor de mí, para mis pacientes.

            </p>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-4"><a href="#"><i class="fa fa-facebook"></i></a></div>
                  <div class="col-md-4"><a href="#"><i class="fa fa-twitter"></i></a></div>
                  <div class="col-md-4"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                </div>

              </div>
              <div class="col-md-4"></div>
            </div>

          </div>
          </div>
        </div>



        </div>
      </div>

    </div>
  </div>
</section>
<!--/ doctor team-->

<!--testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container" style="padding-top: 5%;">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Lo que opinan nuestros pacientes?</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Buena atención</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="/assets/images/icon.png" width="100%" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Liliam<span>Cadena</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Un excelente servicio, una óptica que Pasto necesitaba</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="/assets/images/icon.png" width="100%" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Roberto<span>Paz</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Buena Atención, satisfecha con mis gafas nuevas</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="/assets/images/icon.png" width="100%" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Susana<span>Delgado</span></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ testimonial-->

<!--cta 2-->
<section id="cta-2" class="section-padding">
  <div class="container">
    <div class=" row">
      <div class="col-md-2"></div>
      <div class="text-right-md col-md-4 col-sm-4">
        <h2 class="section-title white lg-line">« Pocas palabras<br> sobre nosotros »</h2>
      </div>
      <div class="col-md-4 col-sm-5">
        Somos una empresa dedicada al cuidado oftalmologico de nuestros pacientes, ofreciendo un servicio oportuno y de
        gran calidad
        <p class="text-right text-primary"><i>— Mario Ortiz</i></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<!--cta-->

<!--contact-->
<section id="contact" class="section-padding">
  <div class="container" style="padding-top: 5%;">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Contáctanos</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>Información de Contacto</h3>
        <div class="space"></div>
        <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Carrera 26 # 19 - 79 Centro
          <br> Pasto - Nariño</p>
        <div class="space"></div>
        <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>clientes@prevenirexpress.com</p>
        <div class="space"></div>
        <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>(2) 7290038</p>
      </div>
      <div class="col-md-8 col-sm-8 marb20">
        <div class="contact-info">
          <h3 class="cnt-ttl">Tienes alguna pregunta ó Reservar una cita</h3>
          <div class="space"></div>
          <div id="sendmessage">Tu mensaje ha sido enviado exitosamente. Muchas gracias!</div>
          <div id="errormessage"></div>
          <form [formGroup]="datosUsuario" (ngSubmit)="prueba()" class="contactForm">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Nombre Completo:</label>
                  <input type="text" name="name" class="form-control br-radius-zero" id="name"
                    formControlName="txtNombre"
                    [class.is-invalid]="datosUsuario.get('txtNombre').errors && datosUsuario.get('txtNombre').touched" />
                  <div *ngIf="datosUsuario.get('txtNombre').errors && datosUsuario.get('txtNombre').touched">
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtNombre').hasError('required')">* El campo es
                      requerido</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtNombre').hasError('minlength')">Cantidad minima
                      de caracteres
                      (3)</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtNombre').hasError('maxlength')">Cantidad maxima
                      de caracteres
                      (50)</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtNombre').hasError('pattern')">Este campo solo
                      acepta letras</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Cédula:</label>
                  <input type="text" class="form-control br-radius-zero" name="tel" id="tel"
                    formControlName="txtCedula"
                    [class.is-invalid]="datosUsuario.get('txtCedula').errors && datosUsuario.get('txtCedula').touched" />
                  <div *ngIf="datosUsuario.get('txtCedula').errors && datosUsuario.get('txtCedula').touched">
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtCedula').hasError('required')">* El campo es
                      requerido</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtCedula').hasError('pattern')">Este campo solo
                      acepta números,
                      sin caracteres especiales ni puntos.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Correo:</label>
                  <input type="email" class="form-control br-radius-zero" name="email" id="email"
                     formControlName="txtCorreo"
                    [class.is-invalid]="datosUsuario.get('txtCorreo').errors && datosUsuario.get('txtCorreo').touched" />
                  <div *ngIf="datosUsuario.get('txtCorreo').errors && datosUsuario.get('txtCorreo').touched">
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtCorreo').hasError('required')">* El campo es
                      requerido</p>
                    <p class="alerta-error"
                      *ngIf="datosUsuario.get('txtCorreo').hasError('pattern') || datosUsuario.get('txtCorreo').hasError('txtCorreo')">
                      El email no es
                      valido.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Teléfono:</label>
                  <input type="number" class="form-control br-radius-zero" name="tel" id="tel"
                    formControlName="txtTelefono"
                    [class.is-invalid]="datosUsuario.get('txtTelefono').errors && datosUsuario.get('txtTelefono').touched" />
                  <div *ngIf="datosUsuario.get('txtTelefono').errors && datosUsuario.get('txtTelefono').touched">
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtTelefono').hasError('required')">* El campo es
                      requerido</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtTelefono').hasError('minlength')">Cantidad
                      minima de caracteres
                      (7)</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtTelefono').hasError('maxlength')">Cantidad
                      maxima de caracteres
                      (15)</p>
                    <p class="alerta-error" *ngIf="datosUsuario.get('txtTelefono').hasError('pattern')">Este campo solo
                      acepta números,
                      sin caracteres especiales ni puntos.</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Departamento:</label>
                  <select class="form-control" formControlName="departamento" (change)="departSelec($event)">
                    <option *ngFor="let d of departamentos" [value]="d.id_departamento">{{d.nombre}}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="datosUsuario.get('departamento').errors && datosUsuario.get('departamento').touched">
                    <p
                      *ngIf="datosUsuario.get('departamento').hasError('required') && datosUsuario.get('departamento').touched">
                      *Este campo es requerido</p>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Municipio:</label>
                  <select class="form-control" formControlName="municipio">
                    <option *ngFor="let m of municipios" [value]="m.id_municipio">{{m.nombre}}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="datosUsuario.get('municipio').errors && datosUsuario.get('municipio').touched">
                    <p
                      *ngIf="datosUsuario.get('municipio').hasError('required') && datosUsuario.get('municipio').touched">
                      *Este campo es requerido</p>
                  </div>

                </div>
              </div>
            </div>







            <div class="form-group">
              <label class="">Asunto:</label>
              <input type="text" class="form-control br-radius-zero" name="subject" id="subject"
                class="form-control" formControlName="txtAsunto" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <label class="">Mensaje:</label>
              <textarea class="form-control br-radius-zero" name="txtMensaje" rows="5" data-rule="required"
                data-msg="Please write something for us" class="form-control"
                formControlName="txtMensaje"
                [class.is-invalid]="datosUsuario.get('txtMensaje').errors && datosUsuario.get('txtMensaje').touched"></textarea>
              <div class="validation"></div>
              <div *ngIf="datosUsuario.get('txtMensaje').errors && datosUsuario.get('txtMensaje').touched">
                <p class="alerta-error" *ngIf="datosUsuario.get('txtMensaje').hasError('required')">* El campo es
                  requerido</p>
                <p class="alerta-error" *ngIf="datosUsuario.get('txtMensaje').hasError('minlength')">Cantidad minima de
                  caracteres
                  (5)</p>
              </div>
            </div>

            <div class="form-action">
              <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-form">Enviar
                Mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ contact-->
<app-footer></app-footer>
