<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/assets/images/logoCentroOptico.png" width="200px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-navegacion" href="#banner" routerLinkActive="active-navegacion">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#servicio" routerLinkActive="active-navegacion">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sucursales">Sucursales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#equipos">Equipos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#personal">Personal</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#testimonios">Testimonio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacto">Contacto</a>
      </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" href="#contacto" style="text-decoration: none;"><span class="glyphicon glyphicon-user"></span> Agendar Cita</a></li>

    </ul>
  </div>
</nav>
